{% load static %}
{% load time_filters %}

{% for message in chat_messages %}
    <li id="message-{{ message.id }}" class="flex relative group/toolbar rounded-xl hover:bg-zinc-800/30 px-2 mt-4">
        <div class="top-0 left-0 h-full w-12 mr-1 mt-1">
            <img src="{{ message.sender.profile.avatar.url }}" class="rounded-full h-11 w-11">
        </div>
        <div class="w-full overflow-y-auto invisible-scrollbar">
            <div class="block px-1">
                <span class="text-sm lg:text-[15px] font-semibold cursor-pointer hover:underline">{{ message.sender.profile.alias }}</span>
                <span class="text-[11px] lg:text-xs text-zinc-500">{{ message.created|formatted_time }}</span>
            </div>
            <div>
                <div>
                    <p id="message-{{ message.id }}-body" class="text-sm lg:text-[15px] block whitespace-pre-line break-words px-1 rounded-lg focus:outline-none" contenteditable="false">{{ message.body }}</p>
                </div>
                <div id="message-{{ message.id }}-modified" class="text-xs w-1/6 px-1">
                    {% if message.was_modified %}
                        <span class="group/modified text-zinc-500">
                            (modified)
                            <span class="hidden absolute rounded-md group-hover/modified:block transform -translate-y-10 -translate-x-4 bg-zinc-700 text-white py-1 px-2">
                                {{ message.modified|formatted_time }}
                            </span>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if message.sender == request.user %}
            <div class="hidden absolute group-hover/toolbar:inline-flex top-0 right-0 mr-2 rounded-md transform -translate-y-1/2 text-center bg-zinc-700 border border-zinc-800">
                <button class="flex justify-center items-center p-1 rounded-tl-md rounded-bl-md hover:bg-zinc-600">
                    <img src="{% static 'images/icons/add_emote_icon.png' %}" class="w-5 h-5">
                </button>
                <button class="edit-button flex justify-center items-center p-1 hover:bg-zinc-600" data-message-id="{{ message.id }}">
                    <img src="{% static 'images/icons/edit_message_icon.png' %}" class="w-5 h-5">
                </button>
                <button class="modal-button flex justify-center items-center p-1 rounded-tr-md rounded-br-md hover:bg-zinc-600" data-message-id="{{ message.id }}">
                    <img src="{% static 'images/icons/delete_message_icon.png' %}" class="w-5 h-5">
                </button>
            </div>
        {% endif %}
    </li>
{% endfor %}