{% extends 'main/essential/body.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <main>
        <div class="text-center my-12 py-12">
            <h1 class="text-3xl lg:text-5xl">
                Have you ever wanted to <br>
                chat with other people?
            </h1>
            <h3 class="mt-6 mb-10 text-xl lg:text-2xl">
                Look no further. <br>
                This is an ideal place for chatting with friends and other people. <br>
                You can chat about your favourite topics and make new friends to talk with. <br>
                You can join and create rooms with people.
            </h3>
            <a href="{% url 'register' %}" class="text-sm lg:text-base rounded-full p-2 border border-indigo-400 bg-gradient-to-br from-sky-300 from-10% via-indigo-300 via-50% to-fuchsia-300 to-90% hover:from-sky-300 hover:via-indigo-200 hover:to-fuchsia-300">
                Get Started
            </a>
        </div>
    </main>
{% endblock %}