{% extends 'chat/chat_components/base.html' %}

{% load static %}

{% block title %}
    Chatting | {{ opposite_user.profile.alias }}
{% endblock %}

{% block main %}
    {% include 'chat/chat_components/messages_container.html' %}
    <div class="hidden lg:flex flex-col w-[350px] overflow-y-auto invisible-scrollbar h-screen text-center py-5 border border-zinc-700/30 bg-zinc-800/30">
        <div class="flex justify-center">
            <img src="{{ opposite_user.profile.avatar.url }}" class="rounded-full h-20 w-20 mr-2">
        </div>
        <div class="flex justify-center rounded-xl mx-5 my-3 border border-zinc-700/60 bg-zinc-800/30" style="min-height: 22rem;">
            <ul class="w-full">
                <li class="py-3 px-2">
                    <p class="text-lg break-words">{{ opposite_user.profile.alias }}</p>
                    <p class="text-base break-words">{{ opposite_user.profile.alias }}#{{ opposite_user.pk }}</p>
                </li>
                <li class="text-center w-full border-t-2 border-zinc-700/80 py-3 px-2">
                    <span class="text-base font-medium">About me</span>
                    <p class="text-base break-all">{{ opposite_user.profile.description }}</p>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ request.user.profile.alias|json_script:"user" }}
    {{ id|json_script:"chat-name" }}
    <script src="{% static 'js/chat/sockets.js' %}"></script>
    <script src="{% static 'js/chat/chat_room_visuals.js' %}"></script>
    <script src="{% static 'js/chat/chat_room_func.js' %}"></script>
{% endblock %}