@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .standard-form-input {
        @apply text-black;
        @apply border-slate-400;
        @apply ring-slate-400;
    }
    .invalid-form-input {
        @apply text-pink-600;
        @apply border-pink-500;
        @apply ring-pink-500;
    }
}

@layer utilities {
    .invisible-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .invisible-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .visible-scrollbar::-webkit-scrollbar {
        display: flex;
    }
}

::-webkit-scrollbar {
    @apply w-3;
}
  
::-webkit-scrollbar-track {
    @apply bg-none;
}
  
::-webkit-scrollbar-thumb {
    @apply bg-zinc-600;
    @apply rounded-full;
}
  
::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-700/90;
}

::-webkit-scrollbar-thumb:active {
    @apply bg-zinc-800;
}